<br>
<h3>Listado de Empleados</h3>


<div >
    <label>Identificación</label>
    <input type="text" placeholder="Buscar" name="buscar" [(ngModel)]="busqueda">

     &nbsp;&nbsp;
    <button class='btn btn-primary' (click)="buscarEmpleado()">Buscar</button>
     &nbsp;&nbsp;
    <a class='btn btn-warning'  routerLink="/crear">Crear</a>
</div>


<div *ngIf="message" class="alert alert-info">
  {{ message }}
</div>

<table class="table" *ngIf="listadoEmpleados.length > 0" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Identificación</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Cargo</th>
        <th></th>
      </tr>
    </thead>
    <tbody 
           *ngFor="let item of listadoEmpleados index as i;">
        <tr>
            <td> {{ i + 1  }} </td>
            <td> {{ item.identification }} </td>
            <td> {{ item.name }} </td>
            <td> {{ item.age }} </td>
            <td> {{ item.position }} </td>
            <td> <button class='btn btn-info' (click)="editarEmpleado( item.identification )">Editar</button>
                 &nbsp;&nbsp;
                 <button class='btn btn-danger' (click)=" eliminarEmpleado( item.identification )">Eliminar</button>  
            </td>
        </tr>
    </tbody>
  </table>